@page
<div class="">
    <div class="banner mb-4">
        <img src="~/img/banner.png" alt="Ảnh banner" class="img-fluid w-100 bnner-style">
    </div>
    <div class="categoryView">
        <div class="category-text">
            <span class="sp sp-spc">Chọn </span><span class="sp">Danh mục</span>
        </div>
        <img src="~/img/sherlockhomes.webp" alt="Ảnh Sách" class="img-size">
        <img src="~/img/muctim.png" alt="Ảnh Tạp chí" class="img-size">
        <img src="~/img/dianhacxuongrong.png" alt="Ảnh Đĩa nhạc" class="img-size">
        <img src="~/img/doluuniem.jpg" alt="Ảnh Đồ lưu niệm" class="img-size">
        <a asp-page="/User/Food/Menu" class="button">SÁCH</a>
        <a asp-page="/User/Food/Menu" class="button">TẠP CHÍ</a>
        <a asp-page="/User/Food/Menu" class="button">ĐĨA</a>
        <a asp-page="/User/Food/Menu" class="button">ĐỒ LƯU NIỆM</a>
    </div>
    <div class="introduce">
        <div class="introduce-text">
            <span class="sp sp-spc">Về </span><span class="sp">Chúng tôi</span>
        </div>

        <div class="row">
            <div class="introduce-list-item col-md-5 mb-4">
                <h3 class="introduce-content-line1">Chúng tôi</h3>
                <h3 class="introduce-content-line2">mang đến những đầu sách hấp dẫn nhất, tạo nên trải nghiệm đọc thú vị và bổ ích</h3>
                <div class="introduce-list">
                    <p><i class="fa-solid fa-check"></i> Sách phong phú và đa dạng</p>
                    <p><i class="fa-solid fa-check"></i> Chất lượng dịch vụ uy tín</p>
                    <p><i class="fa-solid fa-check"></i> Hỗ trợ tận tâm</p>
                </div>
            </div>
            <div class="introduce-list-item col-7">
                <img src="~/img/sach.jpg" alt="Ảnh EggBread" class="eggbread-img">
                <div class="row introduce-img-row">
                    <img src="~/img/tapchi.webp" alt="Ảnh Bread" class="bread col-6">
                    <img src="~/img/dvd.jpg" alt="Ảnh BurgerBread" class="burger-bread-img col-6">
                </div>
            </div>
        </div>

    </div>
</div>