.page-item .page-link {
    display: block;
    color: var(--text-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 6px;
}

.pagination > .active > a,
.page-item.active .page-link,
.pagination > .active > a:hover {
    border-color: transparent !important;
}
